<head>
 <link rel="stylesheet" href="../public/Styles/profile.css">
</head>
<body>
    <p class="target"><%= user.email %></p>
    <p class="target"><%= user.favorites %></p>
<div class="navbar">
 <img class="logo" src="../public/images/blackapi.PNG">
 <a href="/dashboard">Home</a>
 <a href="/pokedex">PokeDex</a>
</div>
<div class="profile-card">
    <img class="profile-picture" src="your_profile_picture_url.jpg" >
    <div class="profile-name"><%= user.username %></div>
</div>
<a href="/users/logout"><button class="absolute-button">Logout</button></a>

<div class="all-main">
    <h1>Favorite Cards</h1>
    <br>
    <div class="card-holder">
        <%= console.log(user.favorites) %>
        <% user.favorites.forEach(subArray=> { %>
            <div class="sub-array">
                <% subArray.forEach(item=> { %>
                    <div class="item">
                        <img src="<%= item.image %>/high.png" alt="<%= item.name %>" />
                        <h5>
                            <%= item.name %>
                        </h5>
                        <button class="unfavorite" id="<%= item.id %>">s</button>
                    </div>
                    <% }); %>
            </div>
            <% }); %>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script type="module" src="../public/profile.js"></script>
</body>